@charset "utf-8";

.stn_main_tit,.stn_main_tit span{ font-size:5rem; font-weight:bold; line-height:1.36; }
.stn_sub_tit{ font-size:2rem; letter-spacing:-0.02rem; line-height:normal; color:#808080; }
button{ font-size:1.8rem; }

/* #wrap{ overflow:hidden; } */
.cont_small{ width:1074px; margin:0 auto; }
.cont_large{ width:1292px; margin:0 auto; }
.swiper-container{ cursor:pointer; }
.stn_bg_bk{ transition:background 1.5s; }
.stn_bg_bk.active{ background:#202427; }
.stn_bg_bk.active .stn_main_tit{ color:#fff; }
.scroll_con{ position:relative; bottom:-20px; transition:1s; opacity:0; z-index:0; }
.scroll_con.active{ position:relative; bottom:0; opacity:1; }

/* visual */
.bg_img_area01{ position:absolute; width:350px; height:350px; bottom:190px; left:123px; animation:area1 8s linear infinite ; -webkit-animation:area1 8s linear infinite ; }
.bg_img_area01 img{ position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); opacity:0; }
.bg_img_area02{ position:absolute; width:243px; height:243px; top:290px; right:305px; animation:area1 8s linear infinite ; -webkit-animation:area1 8s linear infinite ; }
.bg_img_area02 img{ position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); opacity:0; }
.bg_img_area03{ position:absolute; width:136px; height:136px; top:532px; right:123px; animation:area1 8s linear infinite ; -webkit-animation:area1 8s linear infinite ; }
.bg_img_area03 img{ position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); opacity:0; }
.bg_img_area04{ position:absolute; top:0; left:0; width:100%; height:100%; pointer-events:none; overflow:hidden; }
.bg_img_area04 img:nth-of-type(1){ position:absolute; top:263px; left:0; animation:sqAni1 5s infinite; }
.bg_img_area04 img:nth-of-type(2){ position:absolute; right:0; bottom:154px; animation:sqAni2 5s 1s infinite; }
@keyframes sqAni1 {
    0%{ left:-10% }
    50%{ left:0; }
    100%{ left:-10%; }
}
@keyframes sqAni2 {
    0%{ right:0 }
    50%{ right:-10%; }
    100%{ right:0; }
}
.bg_img_area04 span{ display:inline-block; position:absolute; }
.bg_img_area04 span:nth-of-type(1){ width:48px; height:48px; top:360px; left:334px; background:#6769ff; transform:rotate(-30deg); }
.bg_img_area04 span:nth-of-type(2){ width:40px; height:40px; right:280px; bottom:280px; background:#6769ff; opacity:0.5; border-radius: 20px; }
.bg_img_area04 span:nth-of-type(3){ width:24px; height:24px; top:188px; left:217px; background:#6769ff; opacity:0.25; border-radius: 12px; }
.bg_img_area04 span:nth-of-type(4){ width:24px; height:24px; top:333px; right:162px; background:#6769ff; opacity:0.25; border-radius: 12px; }

.bg_img_area01 img:nth-of-type(6){ animation:sq11 3s infinite ; -webkit-animation:sq11 3s infinite ; }
.bg_img_area01 img:nth-of-type(5){ animation:sq12 3s 0.1s infinite ; -webkit-animation:sq12 3s 0.1s infinite ; }
.bg_img_area01 img:nth-of-type(4){ animation:sq13 3s 0.2s infinite ; -webkit-animation:sq13 3s 0.2s infinite ; }
.bg_img_area01 img:nth-of-type(3){ animation:sq14 3s 0.3s infinite ; -webkit-animation:sq14 3s 0.3s infinite ; }
.bg_img_area01 img:nth-of-type(2){ animation:sq15 3s 0.4s infinite ; -webkit-animation:sq15 3s 0.4s infinite ; }
.bg_img_area01 img:nth-of-type(1){ animation:sq16 3s 0.5s infinite ; -webkit-animation:sq16 3s 0.5s infinite ; }

.bg_img_area02 img:nth-of-type(6){ animation:sq11 3s 0.5s infinite ; -webkit-animation:sq11 3s 0.5s infinite ; }
.bg_img_area02 img:nth-of-type(5){ animation:sq12 3s 0.6s infinite ; -webkit-animation:sq12 3s 0.6s infinite ; }
.bg_img_area02 img:nth-of-type(4){ animation:sq13 3s 0.7s infinite ; -webkit-animation:sq13 3s 0.7s infinite ; }
.bg_img_area02 img:nth-of-type(3){ animation:sq14 3s 0.8s infinite ; -webkit-animation:sq14 3s 0.8s infinite ; }
.bg_img_area02 img:nth-of-type(2){ animation:sq15 3s 0.9s infinite ; -webkit-animation:sq15 3s 0.9s infinite ; }
.bg_img_area02 img:nth-of-type(1){ animation:sq16 3s 1s infinite ; -webkit-animation:sq16 3s 1s infinite ; }

.bg_img_area03 img:nth-of-type(6){ animation:sq11 3s 0.2s infinite ; -webkit-animation:sq11 3s 0.2s infinite ; }
.bg_img_area03 img:nth-of-type(5){ animation:sq12 3s 0.3s infinite ; -webkit-animation:sq12 3s 0.3s infinite ; }
.bg_img_area03 img:nth-of-type(4){ animation:sq13 3s 0.4s infinite ; -webkit-animation:sq13 3s 0.4s infinite ; }
.bg_img_area03 img:nth-of-type(3){ animation:sq14 3s 0.5s infinite ; -webkit-animation:sq14 3s 0.5s infinite ; }
.bg_img_area03 img:nth-of-type(2){ animation:sq15 3s 0.6s infinite ; -webkit-animation:sq15 3s 0.6s infinite ; }
.bg_img_area03 img:nth-of-type(1){ animation:sq16 3s 0.7s infinite ; -webkit-animation:sq16 3s 0.7s infinite ; }
@keyframes sq11 {
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes sq12 {
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes sq13 {
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes sq14 {
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes sq15 {
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes sq16 {
    0%{ opacity:0; }
    50%{ opacity:1; }
    100%{ opacity:0; }
}
@keyframes area1 {
    0%{ transform:rotate(-30deg); -webkit-transform:rotate(-30deg); -moz-transform:rotate(-30deg); -ms-transform:rotate(-30deg); -o-transform:rotate(-30deg); }
    50%{ transform:rotate(0deg); -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); }
    100%{ transform:rotate(-30deg); -webkit-transform:rotate(-30deg); -moz-transform:rotate(-30deg); -ms-transform:rotate(-30deg); -o-transform:rotate(-30deg); }
}

.visual{ position:relative; padding:120px 0 150px; background:url("../images/img_bg_color_w1920.svg") center no-repeat; background-size:cover; text-align:center; }
.visual .cont_small{ opacity:0; transition:1.5s; }
.visual .cont_small.on{ opacity:1; }
.visual h3,.visual p,.visual a{ color:#fff; }
.visual .stn_sub_tit{ padding-bottom:42px; color:#808080; }
.scroll_contents_area{ position:relative; width:100%; height:604px; margin-top:42px; }
.scroll_video{ position:absolute; top:0; left:0; width:100%; height:100%; box-shadow:0 0 10px rgba(0,0,0,0.3); z-index:50; opacity:1; }
.scroll_video.hidden{ opacity:0; }
.scroll_frame{ position:absolute; top:0; left:0; width:100%; height:100%; z-index:40; pointer-events:none; opacity:1; }
.scroll_frame.hidden{ opacity:0; }
.scroll_contents{ position:absolute; top:0; left:0; width:100%; height:100%;  z-index:30; }
.gradient_img{ position:relative; bottom:-5px; }
.hover_link_area{ display:inline-flex; position:relative; justify-content:center; align-items:center; width:184px; height:54px; }
.hover_link_area::after{ content:""; display:inline-block; position:absolute; top:0; left:0; width:100%; height:100%; background:url("../images/img_btn_frame01_width184.png") center no-repeat; z-index:200; pointer-events:none; }
.visual .link_mstudio{ display:inline-flex; position:relative; width:179px; height:48px; justify-content:center; align-items:center; margin:0 auto; font-size:1.6rem; overflow:hidden; z-index:100; transition:background 0.5s ; -webkit-transition:background 0.5s ; -moz-transition:background 0.5s ; -ms-transition:background 0.5s ; -o-transition:background 0.5s; }
.hover_link_area:hover .link_mstudio { background:#403d4b; }

/* make my model */
.make_my_model{ padding:314px 0; text-align:center; }
.btn_tab_area{ display:flex; padding:44px 0 16px; justify-content:space-between; transition:opacity 0.5s; opacity:0; pointer-events:none; }
.btn_tab_area.on{ opacity:1; pointer-events:all; }
.btn_tab_area button{ width:25.6rem; height:3.2rem; background:#202427; color:#707070; font-size:1.6rem; }
.btn_tab_area button.on{ background:linear-gradient(to right,#fd9283, #f56fae, #c15eee, #6769ff); color:#fff; }
.tab_box li{ position:relative; width:100%; height:602px; display:none; z-index:0; }
.tab_box li .img_frame{ width:100%; }
.tab_box li.on{ display:block; }
.human{ display:none; position:absolute; top:66px; left:331px; width:398px; height:236px; z-index:50; }
.human.on{ display:block; }
.clothes{ display:none; position:absolute; top:66px; left:331px; width:398px; height:236px; z-index:50; }
.clothes.on{ display:block; }
.clo_color{ display:none; position:absolute; top:66px; left:331px; width:398px; height:236px; z-index:50; }
.clo_color.on{ display:block; }
.pose{ display:none; position:absolute; top:66px; left:331px; width:398px; height:236px; z-index:50; }
.pose.on{ display:block; }
.human_thum{ display:none; position:absolute; top:67px; left:170px; width:126px; height:72px; }
.human_thum.on{ display:block; }
.tab_box button{ position:absolute; border:1px solid #fff; }
.tab_box button label{ position:absolute; right:50%; bottom:-15px; opacity:0.3; transform:translateX(50%); }
.tab_box button.on label{ opacity:1; }
.tab_box button.btn_human{ width:80px; height:65px; border-color:rgba(0,0,0,0); }
.tab_box button.btn_human.on{ border-color:#fff; }
.tab_box button.btn_human:nth-of-type(1){ top:116px; right:233px; }
.tab_box button.btn_human:nth-of-type(2){ top:116px; right:149px; }
.tab_box button.btn_human:nth-of-type(3){ top:116px; right:65px; }
.human_name{ position:absolute; color:#fff; font-size:7px; letter-spacing:-0.07px; font-weight:300; opacity:0.5; z-index:50; }
.human_name.on{ opacity:1; }
.human_name:nth-of-type(1){ top:183px; right:240px; }
.human_name:nth-of-type(2){ top:183px; right:157px; }
.human_name:nth-of-type(3){ top:183px; right:76px; }
.tab_box button.btn_clothes{ width:46px; height:46px; border-color:rgba(0,0,0,0); }
.tab_box button.btn_clothes.on{ border-color:#fff; }
.tab_box button.btn_clothes:nth-of-type(1){ top:252px; right:261px; }
.tab_box button.btn_clothes:nth-of-type(2){ top:252px; right:211px; }
.tab_box button.btn_clothes:nth-of-type(3){ top:252px; right:161px; }
.tab_box button.btn_clothes:nth-of-type(4){ top:252px; right:111px; }
.tab_box button.btn_clothes:nth-of-type(5){ top:252px; right:60px; }
.tab_box button.btn_color{ width:46px; height:14px; border-color:rgba(0,0,0,0); }
.tab_box button.btn_color.on{ border-color:#fff; }
.tab_box button.btn_color:nth-of-type(1){ top:355px; right:261px; }
.tab_box button.btn_color:nth-of-type(2){ top:355px; right:211px; }
.tab_box button.btn_color:nth-of-type(3){ top:355px; right:161px; }
.tab_box button.btn_pose{ width:58px; height:46px; border-color:rgba(0,0,0,0); opacity:0.3; }
.tab_box button.btn_pose.on{ border-color:#fff; opacity:1; }
.tab_box button.btn_pose:nth-of-type(1){ background:url("../images/ico_pose_waiting_selected_46px.svg") center no-repeat; background-size:contain; top:425px; right:249px; }
.tab_box button.btn_pose:nth-of-type(2){ background:url("../images/ico_pose_left_selected_46px.svg") center no-repeat; background-size:contain; top:425px; right:187px; }
.tab_box button.btn_pose:nth-of-type(3){ background:url("../images/ico_pose_right_selected_46px.svg") center no-repeat; background-size:contain; top:425px; right:124px; }
.tab_box button.btn_pose:nth-of-type(4){ background:url("../images/ico_pose_openhands_selected_46px.svg") center no-repeat; background-size:contain; top:425px; right:61px; }
.img_first{ width:100%; display:none; }
.img_first.on{ display:block; }
.img_second{ display:none; }
.img_second.on{ display:block; }

/* tech_intro */
.tech_intro{ padding:100px 0 133px; background:#202427; }
.tech_intro .stn_sub_tit{ padding-bottom:7px; }
.tech_intro .stn_sub_txt{ text-align:right; font-size:1.2rem; padding-top:16px; color:#555; }
.tech_intro ul li{ display:flex; }
.tech_intro .img_area{ position:relative; width:50%; height:462px; }
.tech_intro .img_area img{ width:100%; height:100%; }
.tech_intro .img_area .swiper-container{ width:100%; height:100%; overflow:hidden; }
.tech_intro .img_area .swiper-wrapper{ width:100%; height:100%; }
.tech_intro .img_area .swiper-slide{ position:relative; width:100%; height:100%; }
.tech_intro .img_area .swiper-slide video{ width:100%; height:100%; background:#010101; }
.tech_intro .desc_area{ display:flex; flex-direction:column; justify-content:center; width:50%; }
.tech_intro .desc_area:nth-of-type(even){ padding-left:80px; }
.tech_intro .desc_area:nth-of-type(odd){ padding-right:80px; text-align:right; }
.scroll_stn{ background:#fff; transition:background 1.5s; -webkit-transition:background 1.5s; -moz-transition:background 1.5s; -ms-transition:background 1.5s; -o-transition:background 1.5s; }
.scroll_stn.active{background:#202427; }
.scroll_stn .stn_main_tit{ color:#202427; }
.scroll_stn.active .stn_main_tit{ color:#fff; }
.scroll_stn.active .stn_sub_tit{ color:#808080; }
.tech_intro .img_area img.ico_lang{ position:absolute; top:16px; right:16px; width:48px; height:48px; }
.img_area .ico_4k{ position:absolute; left:50%; bottom:16px; transform:translateX(-50%); z-index:10; }
.img_area .ico_4k span{ display:inline-block; margin:0 8px; padding:2px 7px; color:#fff; border:1px solid #fff; font-size:1.4rem; }
.img_area .ico_4k span:first-of-type{ color:#808080; border-color:#808080; }
.alignFlex{ display:flex; justify-content:flex-start; font-size:0; }
.w323p{ display:inline-block; width:323px; height:462px; margin:0; font-size:0; vertical-align:top; }

/* video_list */
.video_list{ width:100%; padding:314px 0; text-align:center; }
.vdo_area{ width:1394px; height:450px; margin:0 auto; padding-top:44px; }
.vdo_left_area{ display:flex; position:relative; width:100% }
.vdo_left_area img{ position:absolute; transition:1s; }
.vdo_left_area img:nth-of-type(1){ left:350px; z-index:8; }
.vdo_left_area img:nth-of-type(2){ left:300px; z-index:7; }
.vdo_left_area img:nth-of-type(3){ left:250px; z-index:6; }
.vdo_left_area img:nth-of-type(4){ left:200px; z-index:5; }
.vdo_left_area img:nth-of-type(5){ left:150px; z-index:4; }
.vdo_left_area img:nth-of-type(6){ left:100px; z-index:3; }
.vdo_left_area img:nth-of-type(7){ left:50px; z-index:2; }
.vdo_left_area img:nth-of-type(8){ left:0; z-index:1; }
.vdo_right_area{ position:relative; width:100%; }
.vdo_right_area img{ position:absolute; transition:1s; }
.vdo_right_area img:nth-of-type(1){ right:350px; z-index:8; }
.vdo_right_area img:nth-of-type(2){ right:300px; z-index:7; }
.vdo_right_area img:nth-of-type(3){ right:250px; z-index:6; }
.vdo_right_area img:nth-of-type(4){ right:200px; z-index:5; }
.vdo_right_area img:nth-of-type(5){ right:150px; z-index:4; }
.vdo_right_area img:nth-of-type(6){ right:100px; z-index:3; }
.vdo_right_area img:nth-of-type(7){ right:50px; z-index:2; }
.vdo_right_area img:nth-of-type(8){ right:0; z-index:1; }
.vdo_left_area.on img{ left:300px; }
.vdo_right_area.on img{ right:300px; }

/* device_list */
.device_list{ padding-bottom:314px; text-align:center; }
.device_list .stn_main_tit{ padding-bottom:48px; }
.device_list .cont_large{ display:flex; justify-content:space-between; }
.device_list .cont_large .img_device{ width:824px; margin:0 auto; }
.device_list .cont_large .img_device img{ width:100%; }
.device_list .cont_large .img_device a{ display:block; width:200px; margin-right:0; margin-left:auto; margin-top:24px; }
.device_list .cont_large .img_device a img{ width:100%; }

/* buy_product */
.buy_product{ background:url("../images/img_bottom_bg_w1920.png") center no-repeat; background-size:cover; text-align:center; padding:115px 0; }
.buy_product p,.buy_product h3{ color:#fff; }
.buy_product .stn_main_tit{ padding-bottom:25px; }
.buy_product .link_area{ display:flex; justify-content:center; }
.link_mstudio_footer{ display:flex; position:relative; justify-content:center; align-items:center; width:184px; height:54px; margin-right:24px; background:url("../images/img_btn_frame02_width184.png") center no-repeat; font-size:1.6rem; color:#fd9283; }
.link_mstore_footer{ display:flex; justify-content:center; align-items:center; width:184px; height:54px; background:url("../images/img_btn_frame03_width184.png") center no-repeat; font-size:1.6rem; color:#6769ff; }



/* ---------------------------------------- footer ---------------------------------------- */
/* 공통 footer */
iframe[name="footerFrame"] {width:100%;}

/* footerLanding */
#footerLanding {height:auto !important; padding:0; background:#1e2027; text-align:center;}
#footerLanding .fp-tableCell {height:auto !important;}
#footerLanding .footer_inner {display:inline-block; position:relative; width:1240px; padding:30px 20px; box-sizing:border-box; text-align:left; vertical-align:top;}
#footerLanding .footer_inner .col {position:relative;}
#footerLanding .footer_inner .col:last-child {text-align:left;}
#footerLanding .footer_inner .col .col_inner {overflow:hidden;}
#footerLanding .footer_inner .sns {float:right;}
#footerLanding .footer_inner .company {width:50%;}
#footerLanding .footer_inner address {color:#777777; font-size:15px; letter-spacing:-0.15px; line-height:22px;}
#footerLanding .footer_inner .copyright {margin-top:27px; color:#535353; font-size:12px; letter-spacing:-0.12px; line-height:18px;}
#footerLanding .footer_inner .contact {position:absolute; top:113px; right:20px; z-index:50;}
#footerLanding .footer_inner .contact a {display:inline-block; width:200px; padding:10px 0; border-radius:20px; background:rgba(255, 255, 255, 0.06); color:#777777; font-size:15px; letter-spacing:-0.15px; text-align:center;}
#footerLanding .footer_inner .contact br + a {margin-left:10px;}
#footerLanding .footer_inner .contact a img,
#footerLanding .footer_inner .contact a span {vertical-align:middle;}
#footerLanding .footer_inner .contact a img {display:inline-block; margin-right:6px;}
#footerLanding .footer_inner .contact br {display:none;}
#footerLanding .footer_inner .cs_info {margin:20px 0 0; color:#fff; font-size:14px; font-weight:400; line-height:20px; word-break:keep-all;}
#footerLanding .footer_inner .cs_info dt {display:inline-block;}
#footerLanding .footer_inner .cs_info dd {display:inline-block;}
/* #footerLanding .footer_inner .sns {margin-top:16px; margin-left:26px;} */
#footerLanding .footer_inner .sns a {display:inline-block; width:40px; height:40px; border-radius:50%; box-sizing:border-box; background:rgba(255, 255, 255, 0.06); text-align:center; vertical-align:baseline;}
#footerLanding .footer_inner .sns a + a {margin-left:15px;}
#footerLanding .footer_inner .links {margin:10px 0;}
#footerLanding .footer_inner .links a {display:inline-block; margin-right:30px; color:#d5d5d5; font-size:15px; letter-spacing:-0.15px; line-height:22px;}

#footerLanding .ft_top {border-bottom:1px solid #303237;}
#footerLanding .ft_top .footer_inner {padding:20px;}
/* add */
/* #footerLanding .footer_inner .contact { top: 157px; } */

/* media query */
@media screen and (max-width:768px) {
    #footerLanding {text-align:left;}
    #footerLanding .footer_inner {width:100%; padding:30px;}
    #footerLanding .footer_inner .col {float:none; width:auto; text-align:left;}
    #footerLanding .footer_inner .cs_info dt {vertical-align:top;}
    #footerLanding .footer_inner .cs_info dd {width:calc(100% - 60px);}
    #footerLanding .footer_inner .cs_info dd span {display:inline-block;}
    #footerLanding .footer_inner .sns {float:none; margin-top:20px; margin-left:0; text-align:center !important;}
    #footerLanding .footer_inner .links {float:none; margin:0; text-align:center;}
    #footerLanding .footer_inner .links a:last-child {margin-right:0;}
    #footerLanding .footer_inner .contact {position:static; margin:20px 0 0; text-align:center;}
    #footerLanding .footer_inner .contact a {width:auto; padding:5px 15px; font-size:13px; margin:0 16px 0 0;}
    #footerLanding .footer_inner .contact br + a {margin:0;}
    #footerLanding .footer_inner .links a {font-size:15px;}
    #footerLanding .footer_inner address {position:static; font-size:0.825rem; line-height:1.25rem; word-break:keep-all;}
    #footerLanding .footer_inner .copyright {margin-top:30px; font-size:12px; text-align:center;}

    #footerLanding .ft_top {padding:0 20px; border:none;}
    #footerLanding .ft_top .footer_inner {padding:30px 0; border-bottom:1px solid #303237;}
    #footerLanding .ft_btm .footer_inner {padding:30px 20px 40px;}
}

@media screen and (max-width:359px) {
    #footerLanding .footer_inner .links a {margin-right:20px;}
    #footerLanding .footer_inner .contact {text-align:left;}
    #footerLanding .footer_inner .contact br {display:block;}
    #footerLanding .footer_inner .contact br + a {margin:16px 0 0;}
}

form{ margin-top:0; }
.maumUI .maum_sta .maum_etc .nav>li>a.btn_ico.user .fa-user-circle, .maumUI .maum_sta .maum_etc .nav>li>a.btn_ico.lang .fa-globe{ width:22px; height:22px; }
.maumUI .maum_sta .maum_etc .nav>li .appBox .lst li a{ margin:5px 0; }